body {
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 200px;
}
h1 {
  font-size: 52px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: rgb(255, 0, 0);
}
span {
  font-size: 42px;
}
#hrs {
  color: rgb(0, 255, 0);
}
#min {
  color: rgb(49, 240, 49);
}
#sec {
  color: rgb(88, 202, 88);
}
#milisec {
  color: red;
}
div {
  margin-top: 20px;
}
button {
  margin: 10px;
  background: transparent;
  width: 80px;
  height: 35px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
}
button:nth-child(1) {
  color: rgb(0, 255, 0);
  border: rgb(0, 255, 0) 3px solid;
}
button:nth-child(2) {
  color: red;
  border: red 3px solid;
}
button:nth-child(3) {
  color: white;
  border: white 3px solid;
}
button:hover {
  background-color: white;
  border: none;
  cursor: pointer;
}
button:nth-child(3):hover {
  color: black;
}
button:focus {
  outline: none;
}
